body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'UniNeueBlack';
  src: url('fonts/UniNeueBlack.eot');
  src: local('☺'),
  url('fonts/UniNeueBlack.woff') format('woff'),
  url('fonts/UniNeueBlack.ttf') format('truetype'),
  url('fonts/UniNeueBlack.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueBlack-Italic';
  src: url('fonts/UniNeueBlack-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueBlack-Italic.woff') format('woff'),
  url('fonts/UniNeueBlack-Italic.ttf') format('truetype'),
  url('fonts/UniNeueBlack-Italic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'UniNeueBold';
  src: url('fonts/UniNeueBold.eot');
  src: local('☺'),
  url('fonts/UniNeueBold.woff') format('woff'),
  url('fonts/UniNeueBold.ttf') format('truetype'),
  url('fonts/UniNeueBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueBold-Italic';
  src: url('fonts/UniNeueBold-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueBold-Italic.woff') format('woff'),
  url('fonts/UniNeueBold-Italic.ttf') format('truetype'),
  url('fonts/UniNeueBold-Italic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'UniNeueBook';
  src: url('fonts/UniNeueBook.eot');
  src: local('☺'),
  url('fonts/UniNeueBook.woff') format('woff'),
  url('fonts/UniNeueBook.ttf') format('truetype'),
  url('fonts/UniNeueBook.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueBook-Italic';
  src: url('fonts/UniNeueBook-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueBook-Italic.woff') format('woff'),
  url('fonts/UniNeueBook-Italic.ttf') format('truetype'),
  url('fonts/UniNeueBook-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueHeavy';
  src: url('fonts/UniNeueHeavy.eot');
  src: local('☺'),
  url('fonts/UniNeueHeavy.woff') format('woff'),
  url('fonts/UniNeueHeavy.ttf') format('truetype'),
  url('fonts/UniNeueHeavy.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueHeavy-Italic';
  src: url('fonts/UniNeueHeavy-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueHeavy-Italic.woff') format('woff'),
  url('fonts/UniNeueHeavy-Italic.ttf') format('truetype'),
  url('fonts/UniNeueHeavy-Italic.svg') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'UniNeueLight';
  src: url('fonts/UniNeueLight.eot');
  src: local('☺'),
  url('fonts/UniNeueLight.woff') format('woff'),
  url('fonts/UniNeueLight.ttf') format('truetype'),
  url('fonts/UniNeueLight.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueLight-Italic';
  src: url('fonts/UniNeueLight-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueLight-Italic.woff') format('woff'),
  url('fonts/UniNeueLight-Italic.ttf') format('truetype'),
  url('fonts/UniNeueLight-Italic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'UniNeueRegular';
  src: url('fonts/UniNeueRegular.eot');
  src: local('☺'),
  url('fonts/UniNeueRegular.woff') format('woff'),
  url('fonts/UniNeueRegular.ttf') format('truetype'),
  url('fonts/UniNeueRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueRegular-Italic';
  src: url('fonts/UniNeueRegular-Italic.eot');
  src: local('☺'), url('fonts/UniNeueRegular-Italic.woff') format('woff'), url('fonts/UniNeueRegular-Italic.ttf') format('truetype'), url('fonts/UniNeueRegular-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'UniNeueThin';
  src: url('fonts/UniNeueThin.eot');
  src: local('☺'),
  url('fonts/UniNeueThin.woff') format('woff'),
  url('fonts/UniNeueThin.ttf') format('truetype'),
  url('fonts/UniNeueThin.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'UniNeueThin-Italic';
  src: url('fonts/UniNeueThin-Italic.eot');
  src: local('☺'),
  url('fonts/UniNeueThin-Italic.woff') format('woff'),
  url('fonts/UniNeueThin-Italic.ttf') format('truetype'),
  url('fonts/UniNeueThin-Italic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}
